* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.5s;
}
#canvas {
    transition: 0.5s;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
p {
    font-size: 1.3em;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}